<form {{action "submitSearch" on="submit"}} class="ui input center aligned grid">
  {{input value=search class="search" type="text" placeholder="Enter a User Name"}}
  <button class="ui primary button"{{action "submitSearch"}}>Search</button>
</form>
