<form {{action "submit" on="submit"}} class="ui input center aligned grid">
  {{input value=query class="prompt" type="text" placeholder="Enter a User Name"}}
  <div class="ui primary button"{{action "submit"}}>Search</div>
</form>
