{{!-- put header here --}}
{{!-- other stuff that you want all views to have --}}
<br>
<h1 class="ui centered aligned header">The Github Repo-Owner-Finder-Thing-it-does-stuff-yay..</h1>
<br>
{{outlet}}
{{!-- put footer here --}}
