{{!-- put header here --}}
<br>
<br>
<br>
<div class="ui center aligned container">
  <h1 class="ui center aligned header">Searchy the Github User/Repo Searcher</h1>
  <h3>Built with the Ember.JS Framework</h3>
  <p>Enter a valid github-user into the search bar and see their repos</p>
  {{outlet}}
</div>

{{!-- put footer here --}}
