{{!-- app/templates/index.hbs --}}
<!-- create search bar here.  -->
<div class="center aligned grid container">
  <div class="ui search">
    <div class="ui left icon input">
      {{input value=searchValue  class="prompt center aligned grid" type="text" placeholder="Search GitHub" enter="submitSearch"}}

      <i class="github icon"></i>
    </div>
  </div>
</div>

{{#if model}}
  <div class="ui container">
    <h1>Search Results</h1>
      <br>
      <br>
    <h1>User Profile</h1>
    {{user-card user=model}}
      <br>
      <br>
    <h1>User Repos</h1>
      <br>
    {{repo-collection repos=model.repositories}}
  </div>
{{else}}
  <h1>There is no value present to search for</h1>
  {{!-- load error card here --}}
{{/if}}
