{{!-- app/templates/index.hbs --}}
<!-- create search bar here.  -->
<div class="ui container">
  {{search-repos}}
  <br>
  <br>
  <h1>User Profile</h1>
  {{user-card user=model}}
  <br>
  <br>
  <h1>User Repos</h1>
  <br>
  {{repo-collection repos=model.repositories}}
</div>
