<br>
<h1 class="ui centered aligned header">The Github Repo-Owner-Finder-Thing-it-does-stuff-yay..</h1>
<br>
<div class="ui input center aligned grid">
  <form {{action "submitSearch"}}>
    {{input value=searchValue class="prompt" type="text" placeholder="Enter a User Name"}}
    <div class="ui primary button"{{action "submit"}}>Search</div>
  </form>
</div>
{{outlet}}
