{{!-- add conditional here to show something if user is nil --}}
{{!-- 
{{#if user=model}} --}}
  {{user-card user=model}}
{{!-- {{else}} --}}
  {{!-- error card here --}}
  {{!-- <h1>No data yet.</h1> --}}
{{!-- {{/if}} --}}
